
body {
  margin: 0;
  background-color: #f3f4f6;
}

/* Header */
nav {
  background-color: #1e293b;
  padding: 16px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

/* Footer */
footer {
  background-color: #1e293b;
  color: white;
  text-align: center;
  padding: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
}